.button {
  display: inline-block;
  background-color: tomato;
  text-decoration: none;
  height: 60px;
  font-size: 1.4rem;
  color: #fff;
  line-height: 60px;
  padding-left: 20px;
  padding-right: 20px;
  box-shadow: 5px 5px 3px #000;
  transition: transform 0.2s linear;
  /* , opacity 200ms ease-in-out; */
}
.button:hover {
  transform: scale(1.08);
  /* opacity: 0.8; */
}
