.main-form{
  background-color:gray;
  /* padding-left: 40px;
  padding-right: 40px; */
  padding: 50px 40px;
}

.main-form .main-input {
  margin-bottom: 20px;
}
.main-form .main-input.textarea {
margin-bottom: 48px;
}